<h1>Mes Collections</h1>
<%= link_to "Retour", vinyls_path, class: "btn btn-info" %>

<div class="cards">

  <% if @vinyls_for_exchange %>
    <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      <a><%= link_to 'Pour Echanger', vinyls_to_exchange_path %>
    </div>
  <% end %>


  <% @collections.each do |collection| %>
      <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(collection.photo.key) if collection.photo.attached? %>)">
        <a><%= link_to collection.name, collection %>
      </div>
    <% end %>
</div>
<%= link_to "Créer une nouvelle collection", new_collection_path, class: "btn btn-info"%>

<h1>Mes vinyles à échanger</h1>
  <div class="card" style="width: 18rem;">
    <% @vinyls_to_exchange.each do |to_exchange| %>
    <p> <%= image_tag (to_exchange.vinyl.photo_url), class:"card-img-top" %></p>
    <div class="card-body">
      <h5 class="card-title"><%= to_exchange.vinyl.title%></h5>
      <p>(<%=to_exchange.vinyl.year%>)</p>
      <p><%= to_exchange.vinyl.artist.name%></p>
    </div>
    <% end %>
  </div>
