<h1><%=@collection.name%></h1>
<ul>
  <% @collection.vinyls.each do |vinyl| %>
    <li>
      <p><%= vinyl.title %> par: <%= vinyl.artist.name %> </p>
      <p> <%= image_tag (vinyl.photo_url) %></p>
    </li>
  <% end %>
</ul>

<%# # Afficher le vinyl de la collection  %>
 <a><%= link_to "Retour", collections_path, class:"btn btn-info"%></a>
