<h1 class="text-center">Echange en cours</h1>
    <div class="d-flex justify-content-between">
      <h4>Vinyle de Michelle</h4>
      <h4>Mon vinyle</h4>
    </div>
  <div class="d-flex justify-content-between">
    <% @exchanges.each do |exchange| %>
    <div class="d-flex flex-column p-2">
      <%= image_tag exchange.requested_vinyl.vinyl.photo_url, class:"vinyl_image" unless exchange.requested_vinyl.nil?%>
      <p><%= exchange.requested_vinyl.vinyl.title unless exchange.requested_vinyl.nil?%></p>
      <p><%= exchange.requested_vinyl.vinyl.year unless exchange.requested_vinyl.nil?%></p>
    </div>
    <div class="d-flex flex-column p-2">
      <% exchange.offered_vinyls.each do |exchange_offer| %>
      <div class="d-flex flex-column p-2">
        <%= image_tag exchange_offer.collection_vinyl.vinyl.photo_url, class:"vinyl_image" unless exchange.requested_vinyl.nil?%>
        <p><%= exchange_offer.collection_vinyl.vinyl.title unless exchange.requested_vinyl.nil?%></p>
        <p><%= exchange_offer.collection_vinyl.vinyl.year unless exchange.requested_vinyl.nil?%></p>
      </div>
      <% end %>
    </div>
    <%end%>
  </div>
<%= link_to "Valider", my_exchanges_path ,class: "btn-btn-dark" %>




<%# afficher les exchanges
validate button
redirect path afficher un message "votre echange a ete fait avec succes" %>
