  <div class="text-center p-5" style="background-color: #FAC066">
    <h2>Choisis le(s) vinyle(s) en échange</h2>
  </div>
<div  class="container">
  <div class="d-flex align-items-center mt-3">
    <i class="fa-solid fa-arrow-left"></i>
    <a><%= link_to "Retour", vinyls_path, class: "btn btn-retour " %></a>
  </div>

  <%= simple_form_for([@requested_vinyl, @exchange]) do |v| %>

  <div class= " mt-4 mb-4">

    <div class="row row-cols-1 row-cols-md-4 g-4">
      <% @users_vinyls_to_offer.each do |users_vinyl| %>
        <div class="col">
          <div class="card shadow p-3">
            <label>
              <img><%= image_tag users_vinyl.vinyl.photo_url, class:"card-img-top p-2 " %>
              <div class="ps-2">
                <h5 class="card-title"><%= users_vinyl.vinyl.title%></h5>
                <p class="description"><%=users_vinyl.vinyl.artist.name%>,<%= users_vinyl.vinyl.year %></p>
                <input type="checkbox" name="collection_vinyl_ids[]" value="<%= users_vinyl.id %>">
              </div>
            </label>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-actions">
      <%= v.button :submit, class: "btn btn-info mt-5 px-3", value: "Valider" %>
    </div>
  <% end %>
  </div>
</div>
