<button class="openChatBtn" class="btn btn-info mt-3" onclick="openForm()">Laisser un message"</button>

<div class="container exchange"
  data-controller="exchange-subscription"
  data-exchange-subscription-exchange-id-value="<%= @exchange.id %>"
  data-exchange-subscription-current-user-id-value="<%= current_user.id %>"
>
  <div class ="openChat"> 
    <h1>#<%= @exchange.user.first_name %></h1>

    <div class="messages" id="myForm" data-exchange-subscription-target="messages">
      <% @exchange.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
    </div>

    <%= simple_form_for [@exchange, @message],
      html: {data: {action: "turbo:submit-end->exchange-subscription#resetForm"}, class: "d-flex"} do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@exchange.user.first_name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Envoyer", class: "btn btn-primary mb-3" %>
      <button type="button" class="btn cancel btn-primary mb-3" onclick="closeForm()"­>fermer </button>
    <% end %>
  </div>
</div>

<style>
  .openChat {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #FAC066;
      z-index: 9;
      background-color: white;
      
   }
   .messages {
    max-height: 400px;
    overflow-y: scroll;
   }
</style>

  <script>
   document.querySelector(".openChatBtn") .addEventListener("click", openForm);
   document.querySelector(".close").addEventListener("click", closeForm);
   function openForm() {
      document.querySelector(".openChat").style.display = "block";
      document.querySelector(".messages").scrollTo(0, 2000000000)
   }
   function closeForm() {
      document.querySelector(".openChat").style.display = "none";
   }
</script>