
<div>
<strong>Title:</strong>
<%= vinyl.title %>
<p>
    <strong>Year:</strong>
    <%= vinyl.year %>
</p>
<p>
    <strong>Artist:</strong>
    <%= vinyl.artist.name %>
</p>
<p>
    <strong>Genre:</strong>
    <%= vinyl.genre.name%>
</p>
<p>
     <%=image_tag(vinyl.photo_url)%>
</p>
</div>

 <%= link_to "Détails", vinyl, class:"btn btn-info" %>
 <%= link_to "Ajouter à la collection",  new_vinyl_collections_vinyl_path(vinyl), class:"btn btn-info" %>
