<h1>Vinyl</h1>

  <div>
    <h2><%= @vinyl.title %></h2>
    <%=image_tag(@vinyl.photo_url)%>
    <strong>Year:</strong>
    <%= @vinyl.year %>
    <strong>Artist:</strong>
    <%= @vinyl.artist.name %>
    <strong>Genre:</strong>
    <%= @vinyl.genre.name %>
  </div>
  <div style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['pk.eyJ1IjoibnplY29uY28iLCJhIjoiY2xhbGZmNXgzMDRudjNwbWowbGhtcnlsOCJ9.DlEOBfNSIQjB3gsPSxkvZw'] %>">
  </div>

  <ul>
    <% @collections_vinyls.each do |collection| %>
    <%= collection.user.email %>
    <%= link_to 'Je le veux', new_collections_vinyl_exchange_path(collection), class: "btn btn-info" %>
    <% end %>
  </ul>

<%= link_to 'Return', vinyls_path, class: "btn btn-info" %>
<%= link_to 'Accueil', root_path, class: "btn btn-info" %>
