<div class="d-flex align-items-center mt-3 container">
  <i class="fa-solid fa-arrow-left"></i>
  <a><%= link_to "Retour", vinyls_path, class: "btn btn-retour " %></a>
</div>

<div class="container d-flex justify-content-evenly, align-items-center">
  <div class="container mt-5 mb-5">
    <div class="card shadow">
      <div>
        <%= image_tag @vinyl.photo_url, class:"vinyl_image" unless @vinyl.photo_url.nil? %>
      </div>
      <div class="text px-4 pb-4 flex-fill">
        <div class="vinyl-title">
          <p class="fw-bold m-0">
          <%= @vinyl.title %>
          </p>
        </div>
        <p>
          <%= @vinyl.artist.name %>, <em><%= @vinyl.year %></em>
        </p>
      </div>
    </div>
  </div>

  <div class="container", style="width: 200%; height: 480px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_TOKEN'] %>">
  </div>
</div>

<div class="container">
  <% if @users_vinyls.count == 1 %>
    <h3>Une personne possède ce vinyle</h3>
    <% elsif @users_vinyls.count > 1 %>
    <h4><%=@users_vinyls.count%> personnes possèdent ce vinyle</h4>
  <% end %>
    <% @users_vinyls.each do |users_vinyl| %>
      <div class="card card-want m-2 mb-3 p-3" >
        <div class="d-flex justify-content-space-around align-items-center p-3">
          <%= image_tag "https://res.cloudinary.com/dvw6upciw/image/upload/v1670444837/avatar_e5p5i5.webp", :width=>50, :height=>50%>
          <p class= "px-2 m-0"><%= users_vinyl.user.first_name.capitalize %></p>

          <a><%= link_to 'Je le veux', new_users_vinyl_exchange_path(users_vinyl), class: "btn btn-info" %></a>
        </div>
      </div>
    <% end %>
</div>
