
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvw6upciw/image/upload/v1670444848/adrian-korte-5gn2soeAc40-unsplash_sz9jt7.jpg);">
  <div class="container">
    <h1 id="groovy">Groovy</h1>
    <p id="intro">Votre collection de vinyles sur mesure.</p>
    <a><%= link_to "Commencer", vinyls_path, class:"button "%></a>
  </div>
</div>

<div class="perfect-place-for-grid-container d-flex flex-column index-logo">
  <h3 class="perfect-place-for-title text-center">L'endroit parfait</h3>
  <div class="d-flex justify-content-evenly w-80">
    <div class = "d-flex flex-column">
      <i class="fa-solid fa-compact-disc" ></i>
      <p class = "icon-title btn btn-info mt-2" >Collectionner</p>
    </div>
    <div class = "d-flex flex-column">
      <i class="fa-solid fa-folder-plus"></i>
      <p class = "icon-title btn btn-info mt-2" >Organiser</p>
    </div>
    <div class = "d-flex flex-column">
      <i class="fa-solid fa-arrows-rotate"></i>
      <p class = "icon-title btn btn-info mt-2" >Échanger</p>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">

  <%# CAROUSEL 1 %>
  <div class="carousel slide carousel-vinyls" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag(@vinyl.photo_url, class: "d-block w-100")%>
      </div>
      <div class="carousel-item">
        <%= image_tag(@vinylTwo.photo_url,  class: "d-block w-100")%>
      </div>
      <div class="carousel-item">
        <%= image_tag(@vinylThree.photo_url,  class: "d-block w-100")%>
      </div>
      <div class="carousel-item">
        <%= image_tag(@vinylFour.photo_url,  class: "d-block w-100")%>
      </div>
    </div>
  </div>

  <%# CAROUSEL 2 %>
  <div class="carousel slide carousel-vinyls" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag(@vinylFive.photo_url, class: "d-block w-100")%>
      </div>
      <div class="carousel-item">
        <%= image_tag(@vinylSix.photo_url,  class: "d-block w-100")%>
      </div>
      <div class="carousel-item">
        <%= image_tag(@vinylSeven.photo_url,  class: "d-block w-100")%>
      </div>
      <div class="carousel-item">
        <%= image_tag(@vinylEight.photo_url,  class: "d-block w-100")%>
      </div>
    </div>
  </div>


  <%# CAROUSEL 3 %>
  <div class="carousel slide carousel-vinyls" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag(@vinylNine.photo_url, class: "d-block w-100")%>
      </div>
      <div class="carousel-item">
        <%= image_tag(@vinylTen.photo_url,  class: "d-block w-100")%>
      </div>
      <div class="carousel-item">
        <%= image_tag(@vinylEleven.photo_url,  class: "d-block w-100")%>
      </div>
      <div class="carousel-item">
        <%= image_tag(@vinylTwelve.photo_url,  class: "d-block w-100")%>
      </div>
    </div>
  </div>
</div>
